iframe.wooshCreated {
	width: 0;
	height: 0;
	position: absolute;
	top: -1000px;
	border: 0;
}
iframe.show {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

body, html {
	margin: 0;
	padding: 0;
	background: #f3f1f1;
	font-family: Calibri, "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
}

#wooshOutput {
	overflow: hidden;
}

#wooshBanner {
	background: #0d3349 url('logo.png') left center no-repeat;
	padding: 30px 30px 30px 300px;
	border-bottom: 5px solid #C6E746;
	min-height: 37px;
	_height: 37px;
}
#wooshBanner h1 {
	color: #fff;
	font-size: 2.1em;
	font-weight: bold;
	margin: 0;
}

#wooshViewOutput {
	margin: 10px 30px;
	clear: both;
}
#wooshCommands {
	margin: 0 30px 0 0;
}
#wooshUa {
	background-color:#2B81AF;
	color: #fff;
	font-size: 0.9em;
	margin: 0;
	padding: 0.5em 0.5em 0.5em 48px;
	font-weight: bold;
	-moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.4);
	text-shadow: 0px 2px 2px rgba(0,0,0,0.8);
}

#wooshCommands a:link, #wooshCommands a:visited {
	display: inline;
	float: right;
	background: #2B81AF;
	color: #fff;
	padding: 0 19px 5px;
	margin: 0 0 15px 0;
	-moz-box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.4);
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 10px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}
#wooshCommands a:focus {
	background: #f00;
}

/* table view */
	#wooshTable {
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
		-moz-box-shadow: 0px 2px 13px #999;
		-webkit-box-shadow: 0px 2px 13px #999;
		box-shadow: 0px 2px 13px #999;
		margin-top: 5px;
	}
	
	#wooshTable td, #wooshTable th {
		border: 3px solid #fff;
		padding: 5px 5px 5px 10px;
		text-align: left;
		vertical-align: top;
	}
	#wooshTable thead th {
		background: #d0c8c8;
		color: #8b7676;
	}
	#wooshTable tbody th {
		background: #d2e0e6;
		color: #528ce0;
		cursor: pointer;
	}
	#wooshTable tbody th:hover {
		background: #fff;
	}
	#wooshTable td.error {
		color: #F3F1F1;
		background: #41464D;
	}
	#wooshTable td.noTest {
		color: #888;
		background: #ddd;
	}
	#wooshTable th.mismatch {
		background: #ffec80;
		color: #786a08;
	}
	#wooshTable .info {
		display: none;
		font-weight: normal;
	}
	#wooshTable .fullInfo .info {
		display: block;
	}
	#wooshTable .info {
		margin:0; padding:0;
		margin-top: 1em;
		font-size: 0.9em;
	}
	#wooshTable .info dt, .info dd {
		float: left;
		/* remove the float for IE<=7 */
		*float: none;
		margin: 0; padding: 0;
	}
	#wooshTable .info dd {
		*margin-left: 20px;
	}
	#wooshTable .info dt:after {
		content: ':';
	}
	#wooshTable .info dt {
		width: 100px;
		clear: both;
	}
	/* Save and delete buttons */
		#wooshTable thead .save {
			display: none;
		}
		.allTestsComplete #wooshTable thead .save {
			display: inline;
		}
		#wooshTable thead .save, #wooshTable thead .delete {
			background: url(cross.png);
			text-decoration: none;
			width: 16px;
			height: 16px;
			float: right;
			overflow: hidden;
			text-indent: -2000px;
		}
		#wooshTable thead .save {
			background: url(disk.png);
		}
	/* checkboxes */
		#wooshTable input.checkbox {
			float: right;
			visibility: hidden;
		}
		#wooshTable #selectAll {
			visibility: visible;
		}
/* alerts view */
	.wooshAlerts {
		-moz-box-shadow: 0 2px 35px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 2px 35px rgba(0,0,0,0.5);
		box-shadow: 0 2px 35px rgba(0,0,0,0.5);
		position: fixed;
		right: 17px;
		bottom: 0;
		width: 347px;
		font-size: 0.9em;
	}
	.wooshAlert {
		overflow: hidden;
		background: #d0c8c8 url(ok.png) no-repeat -20px -20px;
		border: 7px solid #fff;
		border-bottom: none;
		min-height: 86px;
		_height: 86px;
	}
	.wooshAlerts .error {
		background-image: url(error.png);
	}
	.wooshAlerts .close {
		float: right;
		margin: 7px 7px 0 0;
		text-decoration: none;
		color: #000;
		text-indent: -2000px;
		width: 16px; height: 14px;
		background: url(close.png);
		overflow: hidden;
	}
	.wooshAlerts .msg {
		margin: 29px 20px 13px 128px;
		font-weight: bold;
		color: #444;
	}
	