<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}">
		<meta name="generator" content="JsDoc Toolkit">
		<title>Woosh Documentation</title>

		<style type="text/css">
		</style>
	</head>
	<body>
		<h1>Woosh Documentation</h1>
		<p>Here comes the nav:</p>
		{+data.nav+}
	</body>
</html>