<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}">
		<meta name="generator" content="JsDoc Toolkit">
		<title>Woosh Documentation</title>

		<style type="text/css">
		</style>
	</head>
	<body>
		<div id="wooshBanner">
			<h1>The Title</h1>
		</div>
		<div id="wooshUa"></div>
		<div id="wooshCommands"></div>
		
		<p>Here comes the mode switcher:</p>
		{+data.modeSwitch+}
		
		<p>Here comes the nav:</p>
		{+data.nav+}
	</body>
</html>