<!DOCTYPE html>
<html lang="en-gb">
	{!
		var symbolTypes = [
			'properties',
			'methods',
			'instanceProperties',
			'instanceMethods',
			'constructors',
			'namespaces'
		];
		var symbolTypeNames = {
			properties: 'Properties',
			methods: 'Methods',
			instanceProperties: 'Instance Properties',
			instanceMethods: 'Instance Methods',
			constructors: 'Constructors',
			namespaces: 'Namespaces'
		}
	!}
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}">
		<meta name="generator" content="JsDoc Toolkit">
		<title>Woosh Documentation - {+ h(data.symbol.alias) +}</title>
		<link rel="stylesheet" type="text/css" href="../../../assets/docstyle.css">
	</head>
	<body>
		<div id="wooshBanner">
			<h1>{+ h(data.symbol.alias) +}</h1>
		</div>
		<div id="wooshUa"></div>
		<div id="wooshModeSwitcher">{+data.modeSwitch+}</div>
		
		<p>Here comes the nav:</p>
		{+data.nav+}
		
		<p>And now the content:</p>
		
		{! var symbol = data.symbol !}
		<p>{+ summary(symbol.desc) +}</p>
		{+ further(symbol.desc) +}
		
		<if test="symbol.see.length">
			<for each="see" in="symbol.see">
				<div class="see">{+ h(see) +}</div>
			</for>
		</if>
		
		<if test="data.symbol.is('CONSTRUCTOR')">
			<dt><code>Constructor</code></dt>
			<dd>
				<div class="summary"></div>
				<div class="signiture"><pre><code>{+ makeSignature(symbol) +}</code></pre></div>
				<if test="symbol.params.length">
					<dl class="params">
						<for each="param" in="symbol.params">
							<dt>{+ h(param.name) +}</dt>
							<dd>
								<div>{+ h(param.type) +}</div>
								<div>{+ param.isOptional ? 'Optional' : '' +}</div>
								<div>{+ h(param.defaultValue) +}</div>
								<div>{+ autoHtml(param.desc) +}</div>
							</dd>
						</for>
					</dl>
				</if>
				<if test="symbol.example.length">
					<for each="example" in="symbol.example">
						<pre class="example"><code>{+ formatExample(example.desc) +}</code></pre>
					</for>
				</if>
			</dd>
		</if>
		
		<for each="symbolType" in="symbolTypes">
			{! var symbols = data.members[symbolType] !}
			<if test="symbols.length">
				<h2>{+ h( symbolTypeNames[symbolType] ) +}</h2>
				<dl>
					<for each="symbol" in="symbols">
						{!
							var furtherDesc = further(symbol.desc);
						!}
						<dt>{+ hasOwnPage(symbol) ? resolveLinks('{@link ' + symbol.alias + ' ' + symbol.name + '}') : h(symbol.name) +}</dt>
						<dd>
							<div class="summary">{+ summary(symbol.desc) +}</div>
							<if test="!hasOwnPage(symbol)">
								<div class="signiture"><pre><code>{+ makeSignature(symbol) +}</code></pre></div>
								<if test="furtherDesc">
									<div class="description">{+ furtherDesc +}</div>
								</if>
								<for each="returnItem" in="symbol.returns">
									<div class="return">{+ h(returnItem.type + ' ' + returnItem.desc) +}</div>
								</for>
								<if test="symbol.params.length">
									<dl class="params">
										<for each="param" in="symbol.params">
											<dt>{+ h(param.name) +}</dt>
											<dd>
												<div>{+ h(param.type) +}</div>
												<div>{+ param.isOptional ? 'Optional' : '' +}</div>
												<div>{+ h(param.defaultValue) +}</div>
												<div>{+ autoHtml(param.desc) +}</div>
											</dd>
										</for>
									</dl>
								</if>
								<if test="symbol.example.length">
									<for each="example" in="symbol.example">
										<pre class="example"><code>{+ formatExample(example.desc) +}</code></pre>
									</for>
								</if>
								<if test="symbol.see.length">
									<for each="see" in="symbol.see">
										<div class="see">{+ h(see) +}</div>
									</for>
								</if>
							</if>
						</dd>
					</for>
				</dl>
			</if>
		</for>
		
	</body>
</html>
